.shopBag {
  max-height: calc(100vh - 325px);
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #adadad;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6cbfb6;
    border-radius: 10px;
  }
}
