@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin nav-typography {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
