$main-color-gradient: linear-gradient(225deg, #40877f 0%, #6cbfb6 100%);
$dark-main-color: #072a26;
$transparent-black: #00000073;
$gray: #a6a6a6;
$error-color: #f92a4d;
$main-color: #6cbfb6;
$dark-main: #6cbfb680;
