.shop {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1270px 390px);
  column-gap: 130px;

  @media (max-width: 1700px) {
    grid-template-columns: repeat(1, 1000px 390px);
  }

  @media (max-width: 1500px) {
    grid-template-columns: repeat(1, 800px 390px);
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(1, 700px 390px);
  }

  @media (max-width: 1210px) {
    grid-template-columns: repeat(1, 600px 390px);
    column-gap: 60px;
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(1, 500px 390px);
  }
  @media (max-width: 960px) {
    grid-template-columns: repeat(1, 400px 290px);
    column-gap: 0;
  }
}

.block {
  @include flex-column;
  gap: 15px;
}
