*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image:
    linear-gradient(
      287.56deg,
      rgba(9, 19, 18, 0.9) 0%,
      rgba(21, 29, 28, 0.9) 100%
    ),
    url('/bg-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  color: white;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
  color: inherit;
  text-decoration: inherit;
}
ul,
nav {
  list-style: none;
}

body {
}
