.card {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 5px;
}

.img {
  width: 73px;
  height: 73px;
}

.title {
  width: 100%;
  color: white;
  font-size: 14px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  max-width: 258px;
}

.priceBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: rgba(108, 191, 182, 1);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
