.card {
  background-color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  border-radius: 10px;
}

.content {
  padding: 15px;
  @include flex-column;
  justify-content: center;
}

.img {
  object-fit: cover;
  width: 187px;
  max-height: 187px;
  margin-bottom: 30px;
}

.title {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.price {
  color: rgba(108, 191, 182, 1);
}
